[buildout]
develop = .
parts = test releaser
versions = versions

[versions]
setuptools = 38.2.4
zc.buildout = 2.10.0

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser

[test]
recipe = zc.recipe.testrunner
eggs = hurry.workflow [test]
defaults = ['-v', '--auto-color']
